body {
  /*Flexbox*/
  display: flex;
  flex-direction: column;
  align-items: center;
  /*Box-Model*/
  width: 100%;
  /*Text*/
  line-height: 1.85rem;
  /*Background*/
  background: #3b4346 url(images/bg01.jpg);
  /*Everything else*/
}
#banner {
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  padding: 35px calc((100% - 1200px) / 2);
  border-top: 1px solid #222628;

  color: white;

  box-shadow: inset 0px 1px 0px 0px #3e484a;
}
#slogan {
  margin-bottom: 36px;

  font-size: 2.25rem;
  font-weight: 200;
  line-height: 1.25em;
}
#slogan-wrapper {
  width: 45%;
}
#banner a {
  display: block;
  width: 50%;
}
#banner a img {
  box-sizing: border-box;
  width: 100%;
}
#main-button {
  padding: 0 45px;
  height: 1.9em;
  border: 1px;

  color: white;
  font-size: 2rem;
  font-family: inherit;
  font-weight: 300;

  border-radius: 10px;
  background-image: -webkit-linear-gradient(top, #ed391b, #ce1a00);
  box-shadow: inset 0px 0px 0px 1px rgb(0 0 0 / 75%),
    inset 0px 2px 0px 0px rgb(255 192 192 / 50%),
    inset 0px 0px 0px 2px rgb(255 96 96 / 85%), 3px 3px 3px 1px rgb(0 0 0 / 15%);
}
#features {
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  padding: 45px calc((100% - 1200px) / 2);

  background: #353d40 url(images/bg02.jpg);
}
#features article {
  width: 23.5%;
}
#features article img {
  width: -webkit-fill-available;
  max-width: 100%;
  height: auto;
  margin-bottom: 27px;
}
#features article p {
  color: #a0a8ab;
}
strong {
  color: #fff;
}
#features article a {
  color: #fff;
}
#features h2 {
  margin-bottom: 6px;

  font-size: 1.4rem;
  color: white;
}
main {
  display: flex;
  justify-content: space-between;

  box-sizing: border-box;
  width: 100%;
  padding: 45px calc((100% - 1200px) / 2);

  background: #f7f7f7 url(images/bg04.png);
}
main article {
  /*box-sizing: border-box;*/
  width: 32%;
  /*padding: 40px 30px;

  background: white;*/
  box-shadow: 2px 2px 2px 1px rgb(128 128 128 / 10%);
}
main article h2 {
  margin: 0 0 0.25em 0;

  font-size: 2rem;
  color: #373f42;
}
main article h3 {
  margin-bottom: 36px;

  color: #96a9b5;
  font-size: 1.45rem;
}
#who-we-are img {
  width: 100%;
}
#who-we-are p {
  margin-top: 36px;
}
#what-we-do li {
  padding: 0.8em 0;
  border-bottom: 1px solid #e2e6e8;

  font-size: 1.35rem;

  list-style-image: url(images/icon-checkmark.png);
  list-style-position: inside;
}
#what-people-are-saying li {
  display: flex;
  align-items: flex-start;

  padding: 1em 0;
  border-bottom: 1px solid #e2e6e8;
}
#what-people-are-saying img {
  width: 100%;
  height: auto;
  max-width: 70px;
}
#what-people-are-saying q {
  font-size: 1.4rem;
  font-style: italic;
}
#what-people-are-saying p {
  font-weight: 400;
  font-size: 1.1rem;
}
.quote-author {
  margin-left: 20px;
}
@media (max-width: 1280px) {
  #main-button {
    font-size: 1.68rem;
  }
  #slogan {
    font-size: 2rem;
  }
  #banner,
  #features,
  main {
    padding-left: 20px;
    padding-right: 20px;
  }
  main article h2 {
    font-size: 1.575rem;
  }
  main article h3 {
    font-size: 1.2rem;
  }
  #what-people-are-saying q,
  #what-we-do li {
    font-size: 1.125rem;
  }
  #what-people-are-saying p {
    font-size: 0.9rem;
  }
}

@media (max-width: 980px) {
  #banner {
    flex-direction: column-reverse;
    align-items: center;
  }
  #banner a {
    width: 100%;
  }
  #slogan-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    margin-top: 25px;

    text-align: center;
  }
  #features {
    flex-wrap: wrap;
  }
  #features article {
    width: 48.5%;
  }
  main {
    flex-wrap: wrap;
  }
  #who-we-are {
    width: 100%;
    margin-bottom: 25px;
  }
  #what-we-do,
  #what-people-are-saying {
    width: 48.5%;
  }
}
@media (max-width: 736px) {
  #slogan {
    font-size: 1.35rem;
  }
  #main-button,
  #features article,
  #what-we-do,
  #what-people-are-saying {
    width: 100%;
  }
  #features article p {
    margin-bottom: 16px;
    line-height: 1.4rem;
  }
  #what-we-do {
    margin-bottom: 25px;
  }
}
