@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@200;300;400;500;600;700&display=swap');
/*@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url(/styles/fonts/YanoneKaffeesatz-ExtraLight.ttf);
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url(/styles/fonts/YanoneKaffeesatz-Light.ttf);
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url(/styles/fonts/YanoneKaffeesatz-Regular.ttf);
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url(/styles/fonts/YanoneKaffeesatz-Medium.ttf);
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url(/styles/fonts/YanoneKaffeesatz-SemiBold.ttf);
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url(/styles/fonts/YanoneKaffeesatz-Bold.ttf);
  font-weight: 700;
  font-style: normal;
}*/
