body {
  display: flex;
  flex-direction: column;

  font-size: 1.125rem;
  line-height: 1.85rem;
  background: #3b4346 url(images/bg01.jpg);
}
main {
  padding: 45px calc((100% - 1200px) / 2);

  background: #f7f7f7 url(images/bg04.png);
}
main h2 {
  margin: 0 0 0.25em 0;

  font-size: 2rem;
  color: #373f42;
}
main p {
  margin-bottom: 36px;
}
h3 {
  margin-bottom: 36px;

  color: #96a9b5;
  font-size: 1.45rem;
}
.no-margin-bottom {
  margin-bottom: 0;
}
@media (max-width: 1280px) {
  main {
    padding-left: 20px;
    padding-right: 20px;
  }
  main h2 {
    font-size: 1.575rem;
  }
  main h3 {
    font-size: 1.24rem;
  }
}
@media (max-width: 980px) {
  main {
    padding-top: 25px;
    padding-bottom: 25px;
  }
}
@media (max-width: 736px) {
  main p,
  main h3 {
    line-height: 1.4rem;
    font-size: 1.08rem;
  }
  main h2 {
    font-size: 1.35rem;
  }
}
