body {
  display: flex;
  flex-direction: column;

  font-size: 1.125rem;
  line-height: 1.85rem;
  background: #3b4346 url(images/bg01.jpg);
}
main {
  padding: 45px calc((100% - 1200px) / 2);

  background: #f7f7f7 url(images/bg04.png);
}
main h2 {
  margin: 0 0 0.25em 0;

  font-size: 2rem;
  color: #373f42;
}
main p {
  margin-bottom: 36px;
}
h3 {
  margin-bottom: 36px;

  color: #96a9b5;
  font-size: 1.45rem;
}
.no-margin-bottom {
  margin-bottom: 0;
}
